joblib==0.14.1
javabridge==1.0.18.post17+g7cd83b7
nltk==3.4.5
numpy==1.18.1
pandas==0.25.3
python-dateutil==2.8.1
python-weka-wrapper3==0.1.12
pytz==2019.3
scikit-learn==0.22.1
scipy==1.10.0
six==1.13.0
sklearn==0.0
